.body{
text-align: left;
padding-left: 100px;
margin-top: 50px;

}
@media screen and (max-width: 849px) {
   
    .body{
        text-align: left;
        padding-left: 70px;
        margin-top: 50px;
        
  }
}
.form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 18%;
    padding-left: 60px;
    
}
.form__field {
    
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid gray;
    outline: 0;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.76);
    padding: 4px 0;
    background: transparent;
    transition: border-color 0.2s;
    
}
.form__field::placeholder {
    color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
    font-size: 1rem;
    cursor: text;
    top: 20px;
}
.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 0.7rem;
    color: gray;
}
@media screen and (min-width: 500px) and (max-width: 1400px) {
    .form__field{
        width: 128px;
 
    }
    .form__label {
       width: 350px;
    }  
    svg.bicon{
     margin-left: 50px;
    }
    
}
@media screen and (min-width: 500px) and (max-width: 1086px) {
    .form__field{
        width: 128px;
 
    }
    .form__label {
       width: 350px;
    }  
    svg.bicon{
     margin-left: 50px;
    }
    
}
.form__field:focus {
    padding-bottom: 6px;
    font-weight: 200;
    border-width: 3px;
    border-image: linear-gradient(to right,#ef6c00,#ef6c00);
    border-image-slice: 1;
}
.form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #ef6c00;
font-size: small;
}
.form__field:required, .form__field:invalid {
    box-shadow: none;
}
.bicon{
    --theme-deafult: #ef6c00;
    color: #777!important;
    text-align: left;
    margin: 0;
    padding: 0;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    letter-spacing: normal;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    background-repeat: no-repeat;
    fill: currentColor;
    height: 24px;
    font-size: 150%;
    line-height: 1.125;
    width: 1em;
    border: none;

}
.box{
    position: relative;
    transform: translate(16%,-195%);
   margin-top: 15px;
   margin-bottom: 20px;
}
.pagination{
  margin-top: 40px;  
  margin-bottom: 80px;
  padding-left: 10%;
}
@media screen and (max-width: 594px) {
    svg.bicon{
       margin-left: 130px;
    } 
    .MuiPagination-ul.css-wjh20t-MuiPagination-ul{
        padding: 50px;
    }
}