.title{
 
  color: aliceblue;
  font-style: normal;
  font-size: 45px;
  letter-spacing: 0.01em;
 position: absolute;
   font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
   line-height: 1.15;
 font: 600 40px/32px Roboto, bold Neue,serif;
 letter-spacing: normal;
 white-space: nowrap;
 margin-top: 60px;
 padding-left: 0px;
 height: 50px;
 background: #C70A0A;
 border-radius: 3pt;
 border: none;
 
}
.span{
  font-style: normal;
  font-weight: 250;
  font-family: open sans,sans-serif;
  cursor: pointer;
  box-sizing: border-box;
  background: #ff5501;
  overflow: hidden;
  text-align: center;
  white-space: normal;
  height: 20px !important;
  line-height: 20px !important;
  border-radius: 50px !important;

  padding: 0 8px;
  position: relative;
  left: 34px;
  top: 2px;
  
  min-width: 30px;
  font-size: 85.714%;
  background-color: #c70a0a;
  color: #fff;
}
.span2{
  
  font-style: normal;
  font-weight: 250;
  font-family: open sans,sans-serif;
  cursor: pointer;
  box-sizing: border-box;
  background: #ff5501;
  overflow: hidden;
  text-align: center;
  white-space: normal;
  height: 20px !important;
  line-height: 20px !important;
  border-radius: 50px !important;

  padding: 0 8px;
  position: relative;
  left: 34px;
  top: 2px;
  
  min-width: 30px;
  font-size: 85.714%;
  background-color: #c70a0a;
  color: #fff;
}

.orange{
 background-color:#242442  ;
 padding: 10px;
 height: 90px;
 
}

.helpline{
 --theme-deafult: #ef6c00;
 font: 500 20px/32px Roboto,Helvetica Neue,sans-serif;
 letter-spacing: normal;
 white-space: nowrap;
 color: #fff!important;
 margin: 0px;
 padding: 50;
 font-size: 20px;
 font-weight: bold;
 line-height: 0;
 margin-top: 10px;
 position: absolute;
}
.shopping{
 --theme-deafult: #ef6c00;
 font: 500 20px/32px Roboto,Helvetica Neue,sans-serif;
 letter-spacing: normal;
 white-space: nowrap;
 color: #fff!important;
 margin: 0px;
 padding: 50;
 font-size: 20px;
 font-weight: bold;
 line-height: 0;
 margin-top: 5px;
 position: absolute;
 margin-left: 1190px; 
}
@media only screen and (max-width: 1200px) {
  .shopping{
    padding-left: 100px; 
    position: relative;
  }
  .helpline{
    margin-left: 10px; 

  }
 
}


.cf:before, .cf:after{
  content:"";
  display:table;
}

.cf:after{
  clear:both;
}

.cf{
  zoom:1;
}
.form-wrapper {
  
  width: 470px;
  padding: 15px;
  margin: 50px 80px 50px 250px;
  background: #242442;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0 1px 1px #242442 inset, 0 1px 0 #242442;
  -webkit-box-shadow: 0 1px 1px #EF6C00 inset, 0 1px 0 #EF6C00;
  box-shadow: 0 1px 1px #242442 inset, 0 1px 0 #242442;
}
.form-wrapper input {
  width: 330px;
  height: 40px;
  padding: 10px 5px;
  float: left;    
  font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
  border: none ;
  background: #eee;
  -moz-border-radius: 3px 0 0 3px;
  -webkit-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;      
}
.form-wrapper input::-webkit-input-placeholder {
  color: #999;
  font-weight: normal;
  font-style: italic;
}
.form-wrapper input:-moz-placeholder {
  color: #999;
  font-weight: normal;
  font-style: italic;

}

.form-wrapper input:-ms-input-placeholder {
  color: #999;
  font-weight: normal;
  font-style: italic;

}    
.form-wrapper button {

  overflow: visible;
      position: absolute;
      float: right;
      border: none;
      padding: 0;
      cursor: pointer;
      height: 40px;
      width: 110px;
      font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
      color: #fff;
      text-transform: uppercase;
      background: #C72026 ;
      -moz-border-radius: 0 3px 3px 0;
      -webkit-border-radius: 0 3px 3px 0;
      border-radius: 0 3px 3px 0;      
      text-shadow: 0 -1px 0 #212529;
  }   
  .form-wrapper button:hover{		
    background: #e54040;
}	
.form-wrapper button:active,
.form-wrapper button:focus{   
    background: #c42f2f;    
}
.form-wrapper button:before {
  content: '';
  position: absolute;
  border-width: 8px 8px 8px 0;
  border-style: solid solid solid none;
  border-color: transparent #C72026 transparent;
  top: 12px;
  left: -6px;
}
.form-wrapper button:hover:before{
  border-right-color: #e54040;
}

.form-wrapper button:focus:before{
  border-right-color: #c42f2f;
}    

.form-wrapper button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.bienvenue{
  color:white;   
    font-style: normal;
    line-height: 1.5;
 font-size: 15px;
    font-weight: 300;
    font-family: open sans,sans-serif;
}
